__pycache__/
*.pyc
.DS_Store
.coverage
.coverage.*
htmlcov/
.pytest_cache/

mlflow.db

scratch/
.vscode/settings.json


!bayesfolio/features/
bayesfolio/mlflow/artifacts/


experiments/mlflow/data_snapshots/
experiments/mlflow/legacy_store/mlruns
experiments/mlflow/legacy_store/nested_artifacts