__pycache__/
*.pyc
.DS_Store
marketmaven/mlflow/artifacts/
mlruns/
mlflow.db
marketmaven/datasets/


portfolios/20251201_portfolio.xlsx
20251219_etf_features.csv
20251219_etf_returns.csv
20251219_macro_features.csv
20251227_etf_features.csv
20251227_etf_returns.csv
20251231_etf_features.csv
20251231_etf_returns.csv
20251231_macro_features.csv
20251227_macro_features.csv
20260101_etf_features.csv
20260101_etf_returns.csv
20260101_macro_features.csv
scratch/
.vscode/settings.json
data/
bayesfolio/mlflow/artifacts/
